@font-face {
    font-family: josefinsans;
    src: url('/font/josefinsans/JosefinSans-Regular.ttf');
    src: url('/font/josefinsans/JosefinSans-Bold.ttf')
}
@font-face {
    font-family: josefinslab;
    src: url('/font/josefinslab/JosefinSlab-Regular.ttf');
}
@font-face{
    font-family: Edwardian Script ITC;
    src: url('/font/Edwardian/Edwardian-Script-ITC')
}

h2{
    font-family: josefinsans;
}
h3{
    font-family: josefinslab;
}
h4{
    font-family: josefinsans;
    font-weight: bold;
    font-size: 20px;
}
p{
    font-family: josefinsans;
    font-size: 16px;
}
a{

    font-family: josefinsans;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}
a:link {
    color: white;
    font-style: none;
    border: none;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    font-style: none;
    border: none;
    text-decoration: none;
}
header{
    background-color:#262F34;
}
header::before{
    content: "";
    display: block;
    background-color: #F34A4A;
    height: 18px;
    width: 100%;
}
header > a {

    font-size: 11px;
    font-weight: normal;
    text-transform: none;
}
h1{
    font-family: Edwardian Script ITC;
    font-size: 40px;
    height: 40px;
    margin-bottom: 0;
    margin-left: 20px;
}

nav ul{
    text-align: right;
    margin-right: 40px;
    margin-bottom: 0;
    padding-bottom: 1rem;
   
}
header div ul{
    height: 30px;
    margin-top: 0.5rem;
    margin-bottom: 0;
    text-align: right;
    margin-right: 40px;
}

header div ul p{
    font-size: 12px;
}
#logoOrchid{
    height: 50px;
}
.btn-primary {
    color: #fff;
    background-color: #F34A4A;
    border-color:transparent;
}

.btn-primary:hover {
    color: #fff;
    background-color: #615049;
    border-color: transparent;
}

.coffee-image {
    background-image: linear-gradient(rgba(1, 1, 1, 0.6),rgba(1, 1, 1, 0.6)), url(../images/Coffee.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}

.coffee-image a{
    margin-top: 180px;
}
.coffee-image div{
    text-align: center;
    margin: 0 auto; 
    margin-top: 20px;
}
.coffee-image div h2{
    font-size: 16px;
}
.coffee-image div h3{
    font-size: 16px;
}
.french-image{
    background-image: linear-gradient(rgba(1, 1, 1, 0.6),rgba(1, 1, 1, 0.6)), url(../images/French-food.jpg);
    background-size: cover;
    height: 350px;
}
.french-image div{
    width: 300px;
    margin: 50px 0 0 75px;
}
.french-image a{
    margin-top: 40px;
    margin-right: 40px;
}

.macaron-image{
    background-image: linear-gradient(rgba(1, 1, 1, 0.6),rgba(1, 1, 1, 0.6)), url(../images/macaron.jpg);
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.macaron-image div{
    width: 300px;
    margin: 50px 0 0 75px;

}
.macaron-image a{
    margin-right: 40px;
    margin-top: 30px;

}
.alcho-image{
    background-image: linear-gradient(rgba(1, 1, 1, 0.6),rgba(1, 1, 1, 0.6)), url(../images/alco.jpg);
    background-size: cover;
    height: 350px;
    background-position: center top;
}
.alcho-image div{
    text-align: center;
    margin: 0 auto; 
    margin-top: 20px;
}
.alcho-image div h2{ 
    font-size: 16px;
}
.alcho-image div h3{ 
    font-size: 16px;
}
.chef-image{
    background-image: url(../images/daniel.jpg);
    background-size: cover;
    height: auto;
    background-position: center top;
}
@media (min-width:250px) and (max-width:770px) {
    .chef-image{
        height: 350px;
    }
}

.daniel-info{
    background-color: #F1D3BC;
}
.daniel-info div{
    width: 350px;
    margin: 30px 0 0 40px;
}
.daniel-info .paragraph{
    width: auto;
    margin: 0;
    margin-left: 40px;
    margin-right: 40px;
}
.about-us{
    background-color: #615049;
}
.about-us div{
    width: 350px;
    margin: 30px 0 0 40px;
}
.about-us .paragraph{
    width: auto;
    margin: 0;
    margin-left: 40px;
    margin-right: 40px;
}
.local-image{
    background-image: url(../images/locale.jpg);
    background-size: cover;
    height: auto;
    background-position: center top;
}
@media (min-width:250px) and (max-width:770px) {
    .local-image{
        height: 350px;
    }
}

footer{
    margin-top: 1rem;
    background-color:#262F34;
   
}
footer::after{
    content: "";
    display: block;
    background-color: #F34A4A;
    height: 18px;
    width: 100%;
}
footer ul{
    text-align: center;
    margin-right: 1rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
}
.social ul{
    margin-top: 1rem;
}
button{
    background-color: #F34A4A;
    border: none;
    color: white;
}
.formSend{
    margin-top: 2rem;
    margin-right: 40px;
}
.mapImage{
    height: 370px;
    width: auto;
    margin-bottom: 0.5rem;
}
.addressPhone{
    width: 200px;
}
.addressPhone a{
    margin-bottom: 1rem;
}

.fullPack{
    background-image: linear-gradient(rgba(1, 1, 1, 0.6),rgba(1, 1, 1, 0.6)), url(../images/full.jpg);
    background-size: cover;
    height: 300px;
    background-position: center top;
}
.delivery{
    background-image: linear-gradient(rgba(1, 1, 1, 0.6),rgba(1, 1, 1, 0.6)), url(../images/delivery.jpg);
    background-size: cover;
    height: 300px;
    background-position: center top;
}
.pickup{
    background-image: linear-gradient(rgba(1, 1, 1, 0.6),rgba(1, 1, 1, 0.6)), url(../images/pick.jpg);
    background-size: cover;
    height: 300px;
    background-position: center top;
}

.fullPack div, .delivery div, .pickup div{
    text-align: center;
    margin: 0 auto; 
    margin-top: 180px;
    width: 250px;
}
.cateringRequest{
    margin-top: 1rem;
}
.cateringRequest button{
 margin-top: 2rem;
}
.eventInfo input, .payInvoice input{
margin-bottom: 0.4rem;
}
.everythingNeed{
    margin-top: 1rem;
    margin-bottom:0;
    height: 300px;
    background-color: #F1D3BC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.everythingNeed h2{
    text-transform: uppercase;

}
.everythingNeed p{
    padding-top: 4rem;
    font-weight: bold;
}
.footerCatering{
    margin-top: 0;
}
.foodImage{
    background-image: linear-gradient(rgba(60, 5, 5, 0.5),rgba(1, 1, 1, 0.5)), url(../images/Beef.jpg);
    background-size: cover;
    height: 250px;
    background-position: center;
}
.foodImage h2{
    font-family: josefinslab; 
    text-transform: uppercase;
    font-size: 50px;
    padding-top: 100px;
    padding-left: 50px;
}


.menuList{
    margin-bottom: 0;
}
.menuList li{
    border-top: #fff 1px solid;
    border-bottom: #fff 1px solid;
    background-color: #262F34;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    height: 75px;

}
.menuList li:first-of-type{
    background-color: #F34A4A;
}
.menuList li:hover{
   background-color: #F34A4A;
}
.foodShowcase{
    background-color: #F1D3BC;
}
.foodShowcase div{
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
}
.foodShowcase h2{
   text-transform: uppercase;
   font-size: 35px;
}
.foodShowcase p{
    font-family: joseinsans;
    color: #262F34;
    font-weight: bold;
 }
.footerMenu{
margin-top: 0;
}
.foodList ul{
display: flex;
flex-direction: row;
justify-content: flex-start;
flex-wrap: wrap;
}
.foodList ul li{
    height: 150px;
   width: calc(100%/4);
}
.food-1{
    background-image: linear-gradient(rgba(60, 5, 5, 0.5),rgba(1, 1, 1, 0.5)), url(../images/food/app-1.jpg);
    background-size: cover;
    height: 100%;
    background-position: center;
}
.food-2{
    background-image: linear-gradient(rgba(60, 5, 5, 0.5),rgba(1, 1, 1, 0.5)), url(../images/food/app-2.jpg);
    background-size: cover;
    height: 100%;
    background-position: center;
}
.food-3{
    background-image: linear-gradient(rgba(60, 5, 5, 0.5),rgba(1, 1, 1, 0.5)), url(../images/food/app-3.jpg);
    background-size: cover;
    height: 100%;
    background-position: center;
}
.food-4{
    background-image: linear-gradient(rgba(60, 5, 5, 0.5),rgba(1, 1, 1, 0.5)), url(../images/food/app-4.jpg);
    background-size: cover;
    height: 100%;
    background-position: center;
}
.food-5{
    background-image: linear-gradient(rgba(60, 5, 5, 0.5),rgba(1, 1, 1, 0.5)), url(../images/food/app-5.jpg);
    background-size: cover;
    height: 100%;
    background-position: center;
}
.foodList ul li:hover{
    background-color: linear-gradient(rgba(60, 5, 5, 0.0),rgba(1, 1, 1, 0.0));
   transform: scale(1.5);
}